<div class="oldbody">

  <p align="center">
    <img src="/assets/images/logo.png" width="327" height="116">
  </p>

  <p align="center">
    <font size="6">
      <b>
        <u>A Short History
          <br>
          <br>
        </u>
      </b>
    </font>
  </p>

  <div align="center">
    <!-- <center> -->
    <!-- center tag deprecated with HTML5; for demonstration purposes, replacing with a div.table tag to add margins/centering via CSS styling -->
    <div class="table">
      <table border="0" cellspacing="0" width="727">
        <tr>
          <td width="50%">
            <p align="center">
              <b>Lorem ipsum, dolor sit amet consectetur adipisicing elit. Ratione doloremque officiis perferendis
                maiores eligendi magnam cum numquam suscipit illo optio nihil eos at, aliquam consequatur
                ducimus ullam eius tempora explicabo.
              </b>
              <font size="4"> </font>
          </td>
          <td width="50%">
            <p align="center">
              <img src="/assets/images/bwstore.jpg" width="320" height="222">
            </p>
            <p align="center">
              <font size="2">
                <i>Acme Guns, Circa 1918</i>
              </font>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p align="center">
              <img src="/assets/images/bwstore3.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <i>Customer lounge area with the steps to our second floor offices. The fancy brick facade with
                  displays is to the right.</i>
              </font>
          </td>
          <td width="50%">
            <p align="center">&nbsp;</p>
            <p align="center">
              <b>Lorem ipsum dolor sit amet consectetur, adipisicing elit. Ipsam obcaecati consequatur corrupti
                sunt omnis hic voluptates repellat neque aut alias! Voluptatibus quis hic consequatur autem,
                quo nisi quasi deserunt maiores. Lorem ipsum dolor sit amet consectetur adipisicing elit.
                Earum quos accusamus mollitia officiis unde recusandae odit eveniet doloremque, repudiandae
                alias qui, impedit sunt et ullam praesentium quaerat non? Hic, voluptatem.</b>
            </p>
            <p align="center">&nbsp;
          </td>
        </tr>
        <tr>
          <td width="50%">
            <p align="center">
              <b>Lorem ipsum dolor, sit amet consectetur adipisicing elit. Provident ullam reiciendis voluptas,
                ab, suscipit totam iusto libero sequi nesciunt mollitia laborum, iste debitis deserunt natus
                obcaecati nemo. Quaerat, aliquam officia. Lorem ipsum dolor sit amet, consectetur adipisicing
                elit. Dolorem sequi, quaerat veritatis, quidem asperiores necessitatibus enim vel sapiente
                odio labore tempora suscipit a, ea quas. Laudantium quam exercitationem ducimus modi? Lorem
                ipsum dolor sit amet consectetur adipisicing elit. Magnam nisi provident illum ipsa aperiam
                necessitatibus at possimus ratione, nobis animi mollitia perspiciatis recusandae aut ducimus
                accusamus itaque porro saepe quidem.</b>
              <font size="4"> </font>
          </td>
          <td width="50%">
            <br>
            <p align="center">
              <img src="/assets/images/bwstore5.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <i>Here is another view of the fancy brick facade that we have modified into display areas.</i>
              </font>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <br>
            <br>
            <p align="center">
              <img src="/assets/images/bwstore2.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <i>We have over 40 feet of long gun display area with room for over 300 pieces.</i>
              </font>
          </td>
          <td width="50%">
            <br>
            <p align="center">
              <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Vitae corrupti eius est ea quidem obcaecati
                quisquam id enim deleniti, laboriosam nihil. Reiciendis nobis, saepe nemo atque ex cupiditate
                fugit consequatur. Lorem ipsum dolor sit amet consectetur, adipisicing elit. Doloribus officiis
                perferendis minima harum, illum tenetur saepe numquam minus repellat et unde asperiores molestiae
                fugit illo eos quae! Eaque, accusamus accusantium. Lorem ipsum dolor sit amet consectetur
                adipisicing elit. Nisi omnis, eos nostrum iure voluptatem odit? Quidem eveniet excepturi,
                accusantium officia tempora eligendi ducimus a ex culpa dolorum fugiat facilis obcaecati
                iste ullam porro odit ab cupiditate adipisci.</b>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">&nbsp;</p>
            <p align="center">
              <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Adipisci sunt ea eum non totam tempora
                eligendi, cupiditate qui debitis dolorem! Earum doloremque dolorem minima neque optio iste
                eius rerum? Quisquam. Lorem ipsum dolor sit amet consectetur adipisicing elit. Ea dolor eaque
                obcaecati, deleniti minus quos repellendus enim recusandae nam vitae nulla. Veritatis quae
                rerum corrupti fugiat. Necessitatibus ea ipsam quo?</strong>
          </td>
          <td>
            <p align="center">&nbsp;</p>
            <p align="center">
              <img src="/assets/images/bwstore4.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <em>View of the decorative balcony in front of store used for display.</em>
              </font>
          </td>
        </tr>
        <tr>
          <td>
            <p align="center">&nbsp;</p>
            <p align="center">
              <img src="/assets/images/bwstore6.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <em>Another shot of the balcony looking out the front of the store.</em>
              </font>
          </td>
          <td>
            <p align="center">
              <strong>Lorem ipsum dolor sit amet consectetur adipisicing elit. Illum, quaerat necessitatibus molestiae
                quasi, doloremque, reprehenderit deserunt ullam similique porro tempore accusantium eveniet
                aliquid nobis fugit nihil a iusto. Earum, alias. Lorem ipsum dolor sit amet consectetur adipisicing
                elit. Velit quia voluptates in error itaque vitae explicabo, ipsum nam modi cupiditate quibusdam
                nulla nemo mollitia nihil numquam labore id ipsa ab! Lorem ipsum dolor sit amet, consectetur
                adipisicing elit. Tenetur deleniti totam explicabo praesentium itaque quia quos officiis
                quam, reiciendis consequatur tempore ducimus, asperiores officia quisquam exercitationem
                amet impedit odio pariatur!</strong>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <br>
            <p align="center">
              <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Necessitatibus, incidunt aspernatur?
                Labore consequuntur cumque dignissimos, optio expedita provident, quis saepe deleniti libero,
                tenetur officiis doloribus iste. Cumque officiis impedit modi. Lorem ipsum dolor sit amet,
                consectetur adipisicing elit. Explicabo iusto minima consequatur expedita. Quo rem animi
                praesentium sapiente in! Totam, esse quas iure a deleniti autem amet molestias perferendis
                eum. Lorem ipsum dolor sit amet consectetur adipisicing elit. Suscipit iure corporis dicta.
                In sapiente molestias odio assumenda similique magnam inventore id ducimus. Facilis dicta
                doloribus, corrupti officia eum velit distinctio? </b>
          </td>
          <td width="50%">
            <br>
            <br>
            <br>
            <p align="center">
              <img src="/assets/images/bwstore7.jpg" width="320" height="232">
            </p>
            <p align="center">
              <font size="2">
                <i>A shot of the long gun display area and sales counter.
                </i>
              </font>
          </td>
        </tr>
        <tr>
          <td width="50%">
            <br>
            <p align="center">
              <img src="/assets/images/bwstore1.jpg" width="320" height="229">
            </p>
            <p align="center">
              <font size="2">
                <i>Our twenty foot, stand-up display has room for hundreds of discontinued and used handguns.</i>
              </font>
          </td>
          <td width="50%">
            <br>
            <br>
            <p align="center">
              <b>Lorem ipsum dolor sit amet consectetur adipisicing elit. Numquam perspiciatis quos aliquam at
                repellendus nulla, ducimus quibusdam dolore odit est voluptas iusto provident necessitatibus!
                Laboriosam unde quae ratione ullam pariatur? In impedit, minus dolores facere nulla fuga
                aliquam beatae aspernatur facilis, voluptates numquam corporis. Possimus eligendi maxime
                ipsa rem veritatis architecto tempore aperiam sit, sunt, voluptatibus illum consectetur quia
                tempora. Deserunt pariatur laudantium odit beatae libero distinctio praesentium harum temporibus,
                porro, quis voluptas laborum, provident mollitia cumque consectetur omnis quas nihil? Odio,
                atque incidunt. Atque impedit, voluptatum qui ratione doloremque, odit laudantium necessitatibus
                dignissimos hic repudiandae natus dolorum sit voluptates.</b>
            </p>
            <p align="center">
              <font size="5">
                <b>
                  <i>A. Guy Gunner</i>
                </b>
              </font>
          </td>
        </tr>
      </table>
      <!-- </center> -->
    </div>
  </div>

  <p align="center">
    <a href="e-mail.htm">
      <img src="/assets/images/mailbox.gif" border="0" width="29" height="34">
      <font size="4">
        <b>E-mail us here at Acme! </b>
      </font>
    </a>
  </p>

  <p align="center">
    <a routerLink="/old">
      <img src="/assets/images/coltback.gif" border="0" width="40" height="36">
      <font size="4">
        <b>Return to Acme Home Page!</b>
      </font>
    </a>
  </p>

</div>