<div class="oldbody">
  <div align="center">
    <!-- <center> -->

    <address>
      <img src="/assets/images/logo.png" width="327" height="116">
      <!-- <font size="6">
                <b>FINE GUNS</b>
            </font> -->
    </address>
    <!-- </center> -->
  </div>

  <p align="center">
    <b>
      <font size="6" color="#000000">HOME</font>
    </b>
  </p>

  <p align="center">
    <b>
      <font size="5" color="#800000">We Need Guns!</font>
    </b>
  </p>

  <p align="center">
    <b>
      <font size="4" color="#800000">Acme Guns is always looking for good antique and modern firearms. Lorem ipsum
        dolor
        sit amet consectetur adipisicing
        elit. Molestias, laboriosam sequi culpa rem nulla magnam adipisci illo voluptates similique tenetur iusto
        sint, quae vero, cupiditate minus nam blanditiis vitae doloremque?</font>
    </b>
  </p>

  <p align="center">
    <b>
      <font color="#000080">
        <i>
          <u>Best experienced with:</u>
        </i>
      </font>
      <font color="#000080" size="2"> </font>
    </b>
    <a href="http://www.microsoft.com/windows/products/winfamily/ie/default.mspx" target="_blank">
      <img src="/assets/images/ie.gif" align="middle" border="0" width="88" height="31">
    </a>
    <b>
      <font color="#000080">Click
      </font>
      <a href="http://www.microsoft.com/windows/products/winfamily/ie/default.mspx" target="_blank">here</a>
      <font color="#000080"> to start.
      </font>
    </b>
  </p>

  <p align="center">
    <a target="_blank" href="http://BlueBookOfGunValues.com?cid=124">
      <img border="0" src="/assets/images/BB115x75.gif" width="115" height="75">
      <br>
    </a>
  </p>

  <p align="center">
    <font size="4" color="#800000">ATTENTION!</font>
  </p>

  <p align="center">
    <font size="4">
      <font color="#000000">Our office hours are Monday thru Thursday, 8 to 4:50 east coast time.</font>
      <font color="#FF0000"> </font>
      <font color="#000000">We are out of the office occasionally looking at collections or attending gun shows, so you
        may want to call
        first if coming in from out of town to make sure we'll be here.</font>
    </font>
    <br>
  </p>

  <p align="center">
    <font size="4" color="#800000">SPECIAL ANNOUNCEMENT!</font>
  </p>

  <p align="center">
    <a href="stokpics/Python_Book_lg.jpg">
      <img border="0" src="/assets/images/Python_Book_sm.jpg" width="600" height="455">
    </a>
  </p>

  <p align="center">
    <font color="#800000" size="5">
      <u>In stock for immediate shipment!
      </u>
    </font>
  </p>

  <p align="center">
    <font size="5">Colt's Python: King of The Seven Serpents</font>
  </p>

  <p align="center">
    <font size="4">The new book from author Arthur Writer will be available for shipment in mid-late March 2018. Lorem
      ipsum dolor sit
      amet consectetur adipisicing elit. Blanditiis rem, ex ea corporis vero minus dolorem autem quod quisquam nam.
      Reprehenderit ratione reiciendis blanditiis enim minima autem optio fuga a! Mr. Writer will autograph your
      personal
      copy.
    </font>
  </p>

  <p align="center">
    <font size="5">Colt's Python</font>
    <font size="4">&nbsp;&nbsp;&nbsp;&nbsp;
    </font>
    <font size="5" color="#FF0000">
      <b>$65.00</b>
    </font>
    <font size="4">
      <br>
    </font>
    <font size="2">(add $13.65 for Priority Mail)</font>
  </p>

  <p align="center">
    <a href="stokpics/Seven_Serpents.jpg" target="_blank">
      <img border="0" src="/assets/images/Seven_Serpents_sm.jpg" width="600" height="418">
    </a>
  </p>

  <p align="center">
    <font color="#800000" size="5">
      <u>Now in it's 5th printing!</u>
    </font>
  </p>

  <p align="center">
    <font size="5">Seven Serpents: The History of Colt's Snake Guns
    </font>
  </p>

  <p align="center">
    <font size="4">New book by Acme Guns Vice President Arthur Writer, Lorem ipsum dolor sit amet consectetur
      adipisicing
      elit. Aliquam
      deserunt illum magni, consequuntur quod debitis repellendus, voluptatibus provident quae repudiandae vitae ex
      ducimus recusandae nostrum voluptas neque beatae? Ipsum, sint. Get yours now! Personalized autograph on request.</font>
  </p>

  <p align="center">
    <font size="5">Seven Serpents</font>
    <font size="4">&nbsp;&nbsp;&nbsp;&nbsp;
    </font>
    <font size="5" color="#FF0000">
      <b>$99.95</b>
    </font>
    <font size="4">
      <br>
    </font>
    <font size="2">(add $13.65 for Priority Mail)
      <br>
      <br>
    </font>
  </p>

  <p align="center">
    <font color="#0000FF">(Site Last Updated 08/16/2018
      <br>
    </font>
  </p>
  <div align="center">
    <!-- <center> -->
    <!-- center tag deprecated with HTML5; for demonstration purposes, replacing with a div.table tag to add margins/centering via CSS styling -->
    <div class="table">
      <table border="2" width="650" height="400" bordercolorlight="#000000" bordercolordark="#000000">
        <tr>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">What's
                <br> In
              </font>
              <font color="#FF0000" size="4">
                <br>
                <a routerLink="inventory">Stock!</a>
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">
                <a href="engraved.htm">Engraved</a>
              </font>
              <font size="4" color="#000000">
                <br>
              </font>
              <font size="4" color="#800000">Guns
                <br> Page!
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">Acme Guns</font>
              <font color="#FF0000" size="4">&nbsp;
                <br>
                <a href="exportservices.htm">Export Services</a>
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">Acme Guns</font>
              <font color="#FF0000" size="4">&nbsp;
                <br>
                <a href="importservices.htm">Import Service</a>
              </font>
          </td>
        </tr>
        <tr>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">About
                <br>
                <a routerLink="about">Acme Guns</a>
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="84" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#FF0000">
                <a href="ordering.htm">Ordering</a>
              </font>
              <font size="4" color="#800000">
                &amp; Shipping Information</font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#0000FF">
                <a href="ped_prep.htm">Pedersoli</a>
              </font>
              <font color="#FF0000" size="4">
                <br>
              </font>
              <font size="4" color="#800000">
                Product
                <br> Pages!
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">Introducing
                <br>
                <a href="samanthacherry.htm">Sam Cherry</a>
                <br> Engraving!
              </font>
          </td>
        </tr>
        <tr>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <img border="0" src="/assets/images/coltback.gif" width="40" height="36">
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">NRA and
                <br> Remington
                <br>
                <a href="jewelry2.htm">Licensed
                  <br> Jewelry!
                </a>
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <font size="4" color="#800000">Kevin &amp; Gurney's
                <br> Excellent
              </font>
              <font size="4" color="#FF0000">
                <a href="trippicsintro.htm">Adventures!
                </a>
              </font>
          </td>
          <td width="25%" bgcolor="#FFFFFF" height="63" valign="middle" align="center">
            <p align="center">
              <img border="0" src="/assets/images/coltback.gif" width="40" height="36">
          </td>
        </tr>
      </table>
    </div>
    <!-- </center> -->
  </div>

  <p align="center">&nbsp;</p>

  <p align="center">
    <br>
    <font size="4">
      <b>Acme Guns attends gun shows all across the country. Please come by to see us at the following shows:</b>
    </font>
  </p>

  <div align="center">
    <!-- <center> -->
    <!-- center tag deprecated with HTML5; for demonstration purposes, replacing with a div.table2 tag to add margins/centering via CSS styling -->
    <div class="table2">
      <table border="2" width="60%" bordercolor="#000000">
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <p align="center">
              <font size="4" color="#800000">Gun Show Calendar</font>
          </td>
          <td width="50%">
            <p align="center">
              <font size="4" color="#800000">Gun Show And Location</font>
          </td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">January 19-21, 2018</font>
          </td>
          <td width="50%">Las Vegas Antique Arms Show, Westgate Hotel &amp; Casino, Las Vegas, Nevada</td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">January 23-26, 2018</font>
          </td>
          <td width="50%">Shot Show, Sands Convention Center, Las Vegas, Nevada</td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">January 27-28, 2018</font>
          </td>
          <td width="50%">
            <font size="3">Greensboro Gun Show, Greensboro Coliseum, Greensboro, North Carolina</font>
          </td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">March 8-12, 2018</font>
          </td>
          <td width="50%">
            <font size="3">IWA Show, Messe Center, Nurnberg, Germany
            </font>
          </td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">May 19-21, 2018</font>
          </td>
          <td width="50%">Colorado Gun Collectors Show, Denver Merchandise Mart, Denver, Colorado</td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">July 28-29, 2018</font>
          </td>
          <td width="50%">Missouri Valley Arms Collectors, KCI Expo Center, Kansas City, Missouri</td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">August 25-26, 2018</font>
          </td>
          <td width="50%">
            <font size="3">Greensboro Gun Show, Greensboro Coliseum, Greensboro, North Carolina</font>
          </td>
        </tr>
        <tr>
          <td width="20%" bgcolor="#FFFFFF">
            <font size="3">October 5-7, 2018</font>
          </td>
          <td width="50%">
            <font size="3">Colt Collectors Assoc. Show, Concord, North Carolina
            </font>
          </td>
        </tr>
      </table>
      <!-- </center> -->
    </div>

  </div>
  <p align="center">
    <b>
      <br>
    </b>
  </p>

  <p align="center">
    <img src="/assets/images/new.gif" alt="new.gif (7861 bytes)" WIDTH="60" HEIGHT="25">
    <strong>
      <b>
        <font size="5" color="#800000">NEWEST ADDITIONS!!</font>
      </b>
    </strong>
    <img src="/assets/images/new.gif" alt="new.gif (7861 bytes)" WIDTH="60" HEIGHT="25">
    <br>
  </p>

  <p align="center">
    <b>
      <font size="5" color="#800000">
        <a href="jewelry2.htm">
          NRA and Remington Licensed Jewelry!</a>
      </font>
    </b>
  </p>

  <p align="center">
    <b>
      <font size="5" color="#800000">
        <a href="engraved.htm">
          New Category: Engraved Guns!</a>
      </font>
    </b>
  </p>

  <p align="center">
    <strong>
      <b>
        <a href="exportservices.htm">
          <font size="5" color="#800000">Acme Guns Export Services!</font>
        </a>
      </b>
    </strong>
  </p>

  <p align="center">
    <strong>
      <b>
        <a href="importservices.htm">
          <font size="5" color="#800000">Acme Guns Import Services!</font>
        </a>
      </b>
    </strong>
  </p>

  <p align="center">
    <strong>
      <b>
        <a href="samanthacherry.htm">
          <font size="5" color="#800000">Introducing Sam Cherry Engraving!</font>
        </a>
      </b>
    </strong>
  </p>

  <p align="center">&nbsp;</p>

  <p>
    <font color="#000080" size="6">
      <b>
        <u>Index</u>
      </b>
    </font>
  </p>

  <p>
    <a routerLink="about">
      <img src="/assets/images/coltback.gif" border="0" width="40" height="36">
    </a>
    <font color="#800000" size="4">
      <b>
        <u>About Acme Guns</u>
      </b>
    </font>
  </p>

  <p>
    <a href="ordering.htm">
      <img src="/assets/images/coltback.gif" border="0" width="40" height="36">
    </a>
    <font color="#000080" size="4">
      <b>
        <u>Ordering And Shipping Information</u>
      </b>
    </font>
  </p>

  <p>
    <a routerLink="inventory">
      <img src="/assets/images/coltback.gif" alt="/assets/images/coltback.gif (1189 bytes)" border="0" width="40"
        height="36">
    </a>
    <font color="#008000" size="4">
      <b>
        <u>What's In Stock!</u>
      </b>
    </font>
  </p>

  <p>
    <a href="buying.htm">
      <img src="/assets/images/coltback.gif" border="0" WIDTH="40" HEIGHT="36">
    </a>
    <b>
      <u>
        <font size="4" color="#800000">Will we buy your used guns...? You Bet!</font>
      </u>
    </b>
  </p>

  <p>
    <a href="links.htm">
      <img src="/assets/images/coltback.gif" border="0" WIDTH="40" HEIGHT="36">
    </a>
    <b>
      <u>
        <font size="4" color="#808000">Links To Other Interesting Gun Related Pages</font>
      </u>
    </b>
  </p>

  <p>&nbsp;</p>

  <p align="center">
    <a href="e-mail.htm">
      <img src="/assets/images/mailbox.gif" border="0" WIDTH="29" HEIGHT="34">
      <font size="4">
        <b>E-mail us here at Acme Guns! </b>
      </font>
    </a>
  </p>

  <p align="center">
    <img src="/assets/images/linera.gif" WIDTH="559" HEIGHT="14">
  </p>

  <p align="center">
    <font size="6">
      <b>We're The World's Leading</b>
    </font>
  </p>

  <p align="center">
    <font size="6">
      <b>Commemorative Gun Dealer!</b>
    </font>
  </p>

  <p align="center">
    <font size="5">
      <b>1234 Main Street Suite N</b>
    </font>
  </p>

  <p align="center">
    <font size="5">
      <b>Anywhere, NC 22222</b>
    </font>
  </p>

  <p align="center">
    <font size="5">
      <b>Phone: 333-555-1212 * 24-Hour Fax: 333-555-2424</b>
    </font>
  </p>

  <p align="center">
    <i>
      <font size="4">
        <b>(Open Mon-Thurs 8 to 4:50, closed Fri, Sat &amp; Sun)</b>
      </font>
    </i>
    <b>
      <font size="5">
        <br>
        <br>
        <img src="/assets/images/visa.gif" WIDTH="108" HEIGHT="35">
      </font>
    </b>
  </p>

  <p align="center">
    <font size="4">All photos, firearms graphics, ad copy (including the Acme Guns logo) and the Acme Guns Complete
      Commemorative Gun
      List are the property of Acme Guns Sporting Goods, Inc. and may not be used for any purpose except personal
      reference
      without express permission.</font>
  </p>
</div>