<div class="container">
  <h1>A Brief History</h1>
  <div class="info-block">
    <img src="assets/images/bwstore.jpg" alt="original store">
    <div>
      <h2>Our Humble Beginnings</h2>
      <p>We've been around for a long time, {{ companyAge }} years to be exact. We opened our doors on September 12,
        1929
        in Sometown, IL and operated as a service station and lunch counter. And we sold fishing tackle and guns too.</p>
    </div>
  </div>
  <div class="info-block">
    <div>
      <h2>Our Youth</h2>
      <p>In the early 60s, we dove deep into the world of commemorative firearms. By the end of the decade, we were
        named
        #1 Firearms Retailer in America. Then we traded in the Prairie State for the Tar Heel State and reopened our
        doors
        in Anywhere, NC in the 80s.</p>
    </div>
    <img src="/assets/images/bwstore2.jpg" alt="rifle room">
  </div>
  <div class="info-block">
    <img src="../../../../assets/images/bwstore7.jpg" alt="showroom">
    <div>
      <h2>Modern Day</h2>
      <p>There have been bumps and bruises along the way, but our passion for guns has never wavered. We continue to
        serve
        gun collectors throughout the US and many foreign countries as well. We know guns, we love guns, and we pride
        ourselves
        on topping off your collection with that special piece at a fair price!!</p>
    </div>
  </div>
</div>