.content {
  margin: 0 10px;
  width: 73%;
  float: left;
}
.main-sidebar {
  margin: 0 10px;
  width: 24%;
  float: right;
}
.stock-sidebar {
  float: left;
  width: 20%;
}
.sidebar {
  border: 1px solid #28303e;
}
