/* .content {
  display: inline-block;
  vertical-align: top;
  width: 73%;
  border: 1px solid #252525;
}
.sidebar {
  display: inline-block;
  width: 25%;
  padding: 5px;
  border: 1px solid #252525;
  background-color: white;
} */
