/* @media only screen and (max-width: 600px) {
  .slideshow-container {
    display: none;
  }
} */
.container {
  padding: 0 25px;
  width: 70%;
  display: inline-block;
}
h1 {
  color: #28303e;
  text-align: center;
  margin-bottom: 10px;
}
p {
  margin: 10px 0;
  text-align: justify;
}
.special,
span {
  color: #28303e;
  font-weight: bold;
}
.carousel {
  /* display: inline-block; */
  width: 95%;
  height: 250px;
  /* background-color: #28303e; */
  border: 25px solid #28303e;
}
.slide-container {
  display: inline-block;
  width: 90%;
  margin-top: 15px;
  cursor: pointer;
}
.carousel-item {
  display: inline-block;
  width: 100%;
  height: 100%;
  display: block;
}
.slides img {
  display: block;
  margin: auto;
  /* flex-direction: column;
  justify-content: center; */
  max-width: 100%;
  max-height: 200px;
}
.caption {
  color: #28303e;
  text-align: center;
  font-weight: bold;
}

/* Next & previous buttons */
.prev,
.next {
  cursor: pointer;
  display: inline-block;
  width: 5%;
  height: 100%;
  vertical-align: top;
  text-align: center;
  color: #28303e;
  font-weight: bold;
  font-size: 20px;
  border-radius: 0 3px 3px 0;
  user-select: none;
  -webkit-user-select: none;
}

/* Position the "next button" to the right */
.next {
  /* text-align: right; */
  border-radius: 3px 0 0 3px;
}

/* On hover, add a black background color with a little bit see-through */
.prev:hover,
.next:hover {
  background-color: rgba(0, 0, 0, 0.3);
}
